<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{plantilla/layout :: head}">
        <title>Ecommerce - Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <header th:replace="~{plantilla/layout :: header}"></header>

    <div class="container-fluid my-4">
        <main class="row m-4">
            <div class="col card">
                <div class="row">
                    <div class="card-header">
                        <h2 class="h2 p-3">Editar una Venta</h2>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col">
                        <form th:action="@{/ventas/} + ${venta.idTransaccion}" th:method="put" th:object="${venta}">
                            <br/>
                            <br/>
                            <label class="form-label" for="nroFactura">N° Factura:</label>
                            <input class="form-control" type="text" name="nroFactura" th:field="*{nroFactura}" th:errorclass="'form-control is-invalid'"/>
                            <small class="invalid-feedback" th:if="${#fields.hasErrors('nroFactura')}" th:errors="*{nroFactura}"></small>
                            <br/>
                            <label class="form-label" for="fecha">Fecha: </label>
                            <input class="form-control" type="date" name="fecha" th:field="*{fecha}" th:errorclass="'form-control is-invalid'"/>
                            <small class="invalid-feedback" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
                            <br/>
                            <label class="form-label" for="cliente">Seleccione un cliente: </label>
                            <select name="cliente" class="form-select" aria-label="Select de Clientes" th:errorclass="'form-select is-invalid'" th:field="*{cliente}">
                                <option value = "0" selected>-- Seleccione un cliente --</option>
                                <option 
                                th:each="cliente: ${clientes}" 
                                th:value="${cliente.idCliente}" 
                                th:text="${cliente.apellidoCliente}+' '+${cliente.nombreCliente}"
                                th:selected="(${venta.getCliente().idCliente} == ${cliente.idCliente})"></option>
                              </select>
                              <small class="invalid-feedback" th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}"></small>
                            <br/>
                            <div class="text-end">
                                <input class="btn btn-warning" type="submit" name="editar" value="Editar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer th:replace="~{plantilla/layout :: footer}"></footer>
</body>
</html>