<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>E-commerce</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script th:src="@{/webjars/jquery/jquery.min.css}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.css}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>
    <body>
       <header th:fragment="header">
           <h1 class="my-5 text-center"><span class="text-warning">E</span>-commerce</h1>
            <nav class="nav navbar navbar-expand-lg bg-warning sticky-top">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavDropdown">
                        <ul class="nav navbar-nav my-3">
                          <li class="nav-item px-3">
                             <a class="nav-link" th:href="@{/}">INICIO</a>
                          </li>
                          <li class="nav-item px-3">
                             <a class="nav-link" th:href="@{/productos}">PRODUCTOS</a>
                          </li>
                          <li class="nav-item px-3">
                            <a class="nav-link" th:href="@{/categorias}">CATEGORIAS</a>
                          </li>
                          <li class="nav-item px-3">
                            <a class="nav-link" th:href="@{/ingresos}">INGRESOS</a>
                          </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <footer th:fragment="footer">
            <div class="text-center text-bg-dark mt-3 p-5">
                <p>Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>
