<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{plantilla/layout :: head}">
        <title>Ecommerce - Crear Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="~{plantilla/layout :: header}"></header>
        <div class="container-fluid my-4">
            <main class="row m-4">
                <div class="col card">
                    <div class="row">
                        <div class="card-header">
                            <h2 class="h2 p-3">Registrar un Producto</h2>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col">
                            <form th:action="@{/productos}" th:object="${producto}" method="post" enctype="multipart/form-data">
                                
                                <br/>
                                <label class="form-label" for="nombreProducto">Nombre:</label>
                                <input class="form-control" type="text" name="nombreProducto" th:field="*{nombreProducto}"/>
                                <br/>
                                <label class="form-label" for="descripcionProducto">Descripción: </label>
                                <input class="form-control" type="text" name="descripcionProducto" th:field="*{descripcionProducto}"/>
                                <br/>
                                <label class="form-label" for="marcaProducto">Marca: </label>
                                <input class="form-control" type="text" name="marcaProducto" th:field="*{marcaProducto}"/>
                                <br/>
                                <label class="form-label" for="stock">Stock: </label>
                                <input class="form-control" type="text" name="stock" th:field="*{stock}"/>
                                <br/>
                                <label class="form-label" for="SKU">SKU: </label>
                                <input class="form-control" type="text" name="SKU" th:field="*{SKU}"/>
                                <br/>
                                <label class="form-label" for="precio">Precio: </label>
                                <input class="form-control" type="text" name="precio" th:field="*{precio}"/>
                                <br/>
                                <div class="mb-3">
                                  <label class="form-label" for="imagen">Imagen: </label>
                                  <input class="form-control" type="file" name="file" id="imagen">
                                </div>
                                <br/>
                                <select name="categoria" class="form-select" aria-label="Select de Categorias">
                                  <option value = "0" selected>-- Seleccione una categoria --</option>
                                  <option th:each="categoria: ${categorias}" th:value="${categoria.idCategoria}" th:text="${categoria.nombreCategoria}"></option>
                                </select>

                                <div class="text-end mt-2">
                                    <input class="btn btn-primary" type="submit" name="guardar" value="Guardar"/>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer th:replace="~{plantilla/layout :: footer}"></footer>
    </body>
</html>
