<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{plantilla/layout :: head}">
        <title>Ecommerce - Listado de Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="~{plantilla/layout :: header}"></header>

        <div class="container-fluid">

            <section class="row my-4" aria-label="Nuevo Producto">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h2 class="h1">Crear un producto</h2>
                            </div>
                            <p class="card-text">
                                Si desea agregar un nuevo Producto, haga click en el botón de "Nuevo Producto".
                            </p>
                            <div class="text-end">
                                <a th:href="@{/productos/create}" class="btn btn-primary"> Nuevo Producto</a>
                            </div>
                        </div>
                    </div>    
                </div>
            </section>

            <main class="row my-4">
                <div class="row">
                    <div class="col">
                        <h2 class="h2">Listado de Productos</h2>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div th:if="${productos != null and !productos.empty}">
                            <table class="table table-hoover table-striped">
                                <thead class="table-dark">
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">SKU</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col"></th>
                                </thead>

                                <tbody th:each="producto: ${productos}" pages:paginate="3">
                                    <td th:text="${producto.nombreProducto}"></td>
                                    <td th:text="${producto.descripcionProducto}"></td>
                                    <td th:text="${producto.marcaProducto}"></td>
                                    <td th:text="${producto.stock}"></td>
                                    <td th:text="${producto.SKU}"></td>
                                    <td th:text="${producto.categoria.nombreCategoria}"></td>
                                    <td class="d-flex justify-content-evenly">
                                        <a th:href="@{/productos/} + ${producto.idProducto} + @{/show}" class="btn btn-success">Ver</a>
                                        <a th:href="@{/productos/} + ${producto.idProducto} + @{/edit}" class="btn btn-warning">Editar</a>
                                        <!--form th:action="@{/productos/} + ${producto.idProducto}" th:method="delete" th:object="${producto}">
                                            <button class="btn btn-danger">Eliminar</button>
                                        </form-->
                                        <a data-bs-toggle="modal" 
                                        data-row="${producto}"
                                        th:attr="data-bs-target='#modal-delete'+${producto.idProducto }" 
                                        class="btn btn-danger">Eliminar</a> 
                                            <!-- The Modal -->
                                            <div th:fragment="modal" class="modal fade" th:id="modal-delete+${producto.idProducto}" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                    <h4 class="modal-title">Borrar producto</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>
                                            
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                    ¿Estas seguro que deseas dar de baja el producto "<span th:text="${producto.nombreProducto}"></span>"?
                                                    </div>
                                            
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                                        <form th:action="@{/productos/} + ${producto.idProducto}" th:method="delete" th:object="${producto}">
                                                            <button class="btn btn-primary">Aceptar</button>
                                                        </form>
                                                    </div>
                                            
                                                </div>
                                                </div>
                                            </div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${productos == null or productos.empty}">
                            La lista de productos está vacía.
                        </div>
                    </div>
                </div>
            </main>
            
        </div>

        <footer th:replace="~{plantilla/layout :: footer}"></footer>
    </body>
</html>
