<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/layout :: head}">
        <title>Ecommerce - Listado de Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
	<header th:replace="~{plantilla/layout :: header}"></header>
	<div class="container-fluid">
		<div class="card mt-4 p-3">
			<div class="row">
				<div class="col d-flex justify-content-center" th:if="${producto.imagen != null}">
					<img th:src="@{'/images/' + ${producto.imagen}}" class="img-thumbnail" th:alt="${producto.imagen}" width="480" height="380">
				</div>
				<div class="col d-flex align-items-center" th:if="${producto.imagen == null}">
					<p>Este producto no tiene imagen aún.</p>
				</div>
				<div class="col">
					<h2 class="h2" th:text="${producto.nombreProducto}"></h2>
					<hr>
					<h3><b>$</b> <span th:text="${producto.precio}"></span></h3>
					<p class="mt-4"><b>Marca </b></p><p class="mt-4" th:text="${producto.marcaProducto}"></p>
					<p><b>Stock </b></p><p th:text="${producto.stock}"></p>
					<p><b>SKU </b></p><p th:text="${producto.SKU}"></p>
					<span class="badge rounded-pill text-bg-info" th:text="${producto.getCategoria().nombreCategoria}"></span>		
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					<h2 class="h2">Descripción</h2>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col">
					<p th:text="${producto.descripcionProducto}"></p>
				</div>
			</div>
		</div>
	</div>						
	<footer  th:replace="~{plantilla/layout :: footer}"></footer>
</body>
</html>