<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/layout :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
	<header th:replace="~{plantilla/layout :: header}"></header>
	
	<div class="container-fluid my-4">
		<main class="row m-4">
                <div class="col card">
                    <div class="row">
                        <div class="card-header">
                            <h2 class="h2 p-3">Editar una Categoría</h2>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col">
                            <form th:action="@{/categorias/} + ${categoria.idCategoria}" th:method="put" th:object="${categoria}">
                                <input type="hidden" name="idCategoria"/>
                                <br/>
                                <label class="form-label" for="nombreCategoria">Nombre:</label>
                                <input class="form-control" type="text" name="nombreCategoria" th:field="*{nombreCategoria}" th:errorclass="'form-control is-invalid'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombreCategoria')}" th:errors="*{nombreCategoria}"></small>
                                <br/>
                                <label class="form-label" for="descripcionCategoria">Descripción: </label>
                                <input class="form-control" type="text" name="descripcionCategoria" th:field="*{descripcionCategoria}" th:errorclass="'form-control is-invalid'"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcionCategoria')}" th:errors="*{descripcionCategoria}"></small>
                                <br/>
                                <div class="text-end">
                                    <input class="btn btn-warning" type="submit" name="editar" value="Editar"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
	</div>

	<footer th:replace="~{plantilla/layout :: footer}"></footer>
</body>
</html>